# intermediate outputs directory
/outputs

# unused code
/junk

# experimental
random_pieces_of_code.m

# GitHub repo that needs to be cloned manually
/external/ReconcilingEmergences/

# matlab temporary files
*.asv

# test outputs directory
/testouts

# ignore log files
*.o*
*.e*
